" Enable persistent undo.
set undofile

set hlsearch
set incsearch
" Show line numbers as relative so relative navigation is easier. Show actual
" line number for active line.
set number
set relativenumber

set tabstop=4 softtabstop=4
set shiftwidth=
set expandtab
set smartindent
set ignorecase
set smartcase
set autoindent

set linebreak
set showmatch
set scrolloff=8
set noshowmode
set cursorline
set ruler

let mapleader=" "
set timeoutlen "500"

set ideajoin
set ideastatusicon='disabled'

set NERDTree
set surround
set commentary
set highlightedyank

map <C-\> :NERDTreeFocus<CR>
map <leader>sd <Action>(FindInPath)
map <leader>ff <Action>(GotoFile)
" map <leader><space> <Action>(Switcher)

map <C-h> :noh<CR>

"" Y yank until the end of line
map Y y$

map <leader>y "+y
map <leader>Y gg"+yG
